@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Colors */
$mainDark: black;
$mainLight: white;
$element: brown;
$bodyColor:#fafafa;
$shadowColor: grey;

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-family: Roboto, sans-serif;
	font-size: 100%;
	line-height: 1rem;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{
	text-decoration: none;
	// color: inherit;
}
a:hover{text-decoration: none; color: $element;}
ul li{list-style: none;}
img{
	max-width: 100%;
	display: block;
}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/* -----------Common----------------------------------- */
body{
	background-color: $bodyColor;
	color: $mainDark;
}
.wrapper{
	min-height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.container{
	width: 70%;
	margin: 0 auto;
	@media (max-width: 1024px) {
		width: 90%;
	}
	@media (max-width:768px) {
		margin-top: 60px;
	}
}
.policy{
	font-size: 0.9rem;
	& a{
		color: $element;
		&:hover{
			color: $element;
		}
	}
}
.caption{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 4rem auto;
	padding: 1rem 1rem 3rem 1rem;
	border-left: 5px solid $element;
	border-right: 5px solid $element;
	@media (max-width: 768px){
		border-left: 3px solid $element;
		border-right: 3px solid $element;
	}
	& h1, h2{
		display: block;
		font-size: 2rem;
		line-height: 2.5rem;
		text-align: center;
		@media (max-width: 768px){
			font-size: 1.5rem;
		}
		@media (max-width: 480px){
			text-align: center;
			line-height: 1.8rem;
		}
	}
	& i{
		color: $element;
		font-size: 4rem;
		margin-bottom: 2rem;
	}
}
.textblock{
	margin: 4rem auto;
	width: 80%;
	@media (max-width:480px) {
		width: 90%;
	}
	&>*{
		font-size: 1.1rem;
		line-height: 2rem;
		padding: 1rem 0;
		@media (max-width:480px) {
			line-height: 1.5rem;
		}
	}
	&__caption{
		color: $mainDark;
		font-size: 1.3rem;
		border-bottom: 1px dotted $element;
	}
	&__price{
		text-align:center;
		font-size: 1.3rem;
		color: $element;
		// display: none;
	}
	&__text{
		padding-left: 4rem;
		margin-top: -1rem;
		@media (max-width:480px) {
			padding-left: 0rem;
		}
		& p{
			margin-top: 1rem;
		}
		& li{
			margin-left: 1rem;
			list-style-type:disc;
		}
	}
}
section{
	margin-bottom: 10rem;
	@media (max-width: 1024px){
		margin-bottom: 2rem;
	}
	@media (max-width: 768px){
		margin-bottom: 0rem;
	}
}
/* HEADER --------------------------------------------- */
.header{
	height: 100px;
	width: 100%;
	padding: 0 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	&__logo{
		z-index: 2;
		flex: 1 1 100px;
		padding: 1rem 0;
		img{
			max-height: 100%;
		}
	}
	&__nav{
		flex: 1 1 auto;
	}
	&__tel{
		z-index: 2;
		flex: 1 1 100px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-items: center;
		& span{
			font-size: 1.3rem;
		}
		& i{
			margin-right: 1rem;
			font-size: 2rem;
			color: $element;
		}
	}
}

.nav{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	&>*{
		margin: 0 0.2rem;	
	}
	
	&__item{
		z-index: 2;
		text-transform: uppercase;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 110px;
		background-color: $mainDark;
		color: $mainLight;
		box-shadow: none;
		transition: all 0.3s ease;
		&:hover {
			box-shadow: 0px 0px 10px rgba(58, 58, 58, 0.541);
			// color: rgb(190, 190, 190);
			transform: translateY(10px);
			letter-spacing: 0.7px;
			
		}
		&.active{
			box-shadow: 0px 0px 10px rgba(58, 58, 58, 0.541);
			color: $element;
			transform: translateY(10px);
			letter-spacing: 0.7px;
		}
	}
}
.headermobile{
	display: none;
}


/* FOOTER ----------------------------------------------*/
footer{
	height: 100px;
	width: 100%;
	background-color: $mainDark;
	color: $mainLight;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	@media (max-width:768px) {
		height: 60px;
	}
	
}
.footer__items{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	&>*{
		margin: 0.5rem;
	}
	& i{
		font-size: 1.5rem;
		transition: all 0.3s ease;
		color: $element;
		&:hover{
			transform: translateX(10px);
			color: $mainLight;
			
		}
	}
}
/* MAIN Index ------------------------------------------*/
main{
	flex: 1 1 auto;
}

.indexsection{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	margin-top: 5rem;
	margin-bottom: 5rem;
	@media (max-width:480px) {
		margin-top: 0px;
		margin-bottom: 60px;
	}
}
.mainIndex{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	&__form{
		flex: 1 1 50%;
	}
	&__img{
		flex: 1 1 50%;
		& img{
			margin: 0 auto;
			box-shadow: 0 0 0.7rem $shadowColor;
		}
	}
}
.indexForm{
		width: 100%;
		height: 100%;
		padding: 2rem 4rem;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
		@media (max-width:768px) {
			padding: 0rem 2rem 2rem 0;
		}
		&__text{
			font-size: 1.15rem;
			font-weight: 500;
			line-height: 1.5rem;
			margin-bottom: 4rem;
			text-align: left;
		}
		& a{
			text-decoration: underline;
		}
		&__item{
			background-color: transparent;
			font-size: 1.1rem;
			padding: 1rem;
			border-bottom: 2px solid $element;
			width: 100%;
			height: 4rem;
			margin-bottom: 4rem;
			@media (max-width:768px) {
				margin-bottom: 2rem;
			}	
		}
		& button{
			width: 80%;
			border: none;
			background-color: $mainDark;
			color: $mainLight;
			font-size: 1.2rem;
			transition: all 0.3s ease;
			& i{
				margin-left: 0.5rem;
				color: $element;
			}
			&:hover{
				box-shadow: 0 0px 10px $shadowColor;
				transform: translateY(-5px);
				letter-spacing: 0.7px;
				color: $element;
			}
			
		}
		& .policy{
			margin-top: 0rem;
		}
}

/* MAIN b2c --------------------------------------------*/

/* MAIN b2b --------------------------------------------*/

/* MAIN review -----------------------------------------*/
.review{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	&__item{
		width: 50%;
		padding-bottom: 1rem;
		@media (max-width:480px){
			width: 100%;
		}
	}
	@media (max-width:480px) {
		display: block;
		&__item{
			width: 100%;
		}
		&__wrap{
			margin: 0.5rem 0.5rem;
		}
	}
	&__wrap{
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		margin: 2rem;
		padding: 2rem;
		box-shadow: 0px 0px 10px 0px $shadowColor;
		transition: all 0.2s ease;
		&:hover{
			box-shadow: 0px 0px 20px 0px $element;
		}
		@media (max-width: 768px){
			margin: 0.5rem 1rem;
		}
		@media (max-width:480px){
			margin: 0.5rem 1rem;
		}
		
	}
	&__caption{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		font-size: 1.5rem;
		line-height: 1.5rem;
		padding-bottom: 1rem;
		width: 100%;
		min-height: 3rem;
		border-bottom: 2px solid $element;
		& i{
			color: $element;
			margin-right: 1rem;
		}
		@media (max-width: 1024px){
			font-size: 1.2rem;
		}
		@media (max-width: 768px){
			min-height: 4rem;
		}
		@media (max-width: 634px){
			min-height: 6rem;
		}
		@media (max-width: 480px){
			min-height: 0rem;
		}	
	}
	&__footer{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		font-size: 1.2rem;
		color: $element;
		transition: all 0.3s ease-out;
		padding: 1rem 2rem 1rem 0;
		&:hover{
			transform: translateX(1rem);
		}
		& a{
			background: none;
			font-size: 1.2rem;
			color: $element;
			font-weight: bold;
			margin-right: 0.5rem;
		}
	}
	&__text{
		min-height: 50px;
		margin: 1rem 0;
		line-height: 1.5rem;
		@media (max-width: 1024px){
			min-height: 70px;
		}
		@media (max-width: 768px){
			min-height: 90px;
		}
	}
}
/* MAIN contact ----------------------------------------*/
.map{
	margin-top: 20px;
	// min-height: 600px;
	position: relative;
	@media (max-width:480px){
		position: static;
		margin-top: 60px;
	}
	&__body{
		height: 600px;
		@media (max-width:768px){
			height: 400px;
		}
	}
	&__label{
		position: absolute;
		top: 10rem;
		left: 10rem;
		background-color: $mainDark;
		opacity: 0.8;
		padding: 5rem;
		@media (max-width:768px) {
			position: static;
			padding: 3rem;
		}
	}
	&__list{
		color: $mainLight;
		font-size: 1.3rem;
		line-height: 2rem;
	}
	&__social{
		margin-top: 2rem;
		& i{
			margin-right: 1rem;
			font-size: 2rem;
			color: $mainLight;
			transition: 0.3s all ease;
			&:hover{
				color: $element;
			}
		}
	}
}
.contactFormBody{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin-top: 4rem;
	margin-bottom: 4rem;
	& .policy{
		margin-top: 2rem;
		@media (max-width:480px){
			margin: 0;
		}
	}
}
.contactForm{
	width: 100%;
	height: 100%;
	// padding: 2rem 4rem;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	@media (max-width:480px) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	& a{
		text-decoration: underline;
	}
	&__item{
		background-color: transparent;
		font-size: 1.1rem;
		padding: 1rem;
		border-bottom: 2px solid $element;
		width: 100%;
		height: 4rem;
		margin: 0rem 1rem;
		@media (max-width:480px) {
			margin-bottom: 2rem;
		}
	}
	& button{
		border: none;
		background-color: $mainDark;
		color: $mainLight;
		font-size: 1.2rem;
		transition: all 0.3s ease;
		margin-top: -2rem;
		@media (max-width:480px){
			margin-top: 0rem;
			width: 80%;
		}
		& i{
			margin-left: 0.5rem;
			color: $element;
		}
		&:hover{
			box-shadow: 0 0px 10px $shadowColor;
			transform: translateY(-5px);
			letter-spacing: 0.7px;
			color: $element;
		}
	}	
}
// @media ---------------------------------------------
@media (max-width:768px){
	body.lock{
		overflow: hidden;
	}
	.header{
		display: none;
		z-index: 10;
		position: fixed;
		height: 60px;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-items: center;
		background-color: $mainDark;
		border: 1px solid black;
		box-shadow: 0 2px 10px 0px $shadowColor;
		&__logo{
			display: none;
		}
		&__tel{
			align-self: flex-start;
			color: $mainLight;
			border: 1px solid $mainLight;
		}
		&__burger{
			border: 1px solid $element;
			// display: block;
			align-self: flex-end;
			position: relative;
			width: 30px;
			height: 20px;
			& span{
				position: absolute;
				background-color: $element;
				left: 0;
				width: 100%;
				height: 2px	;
				top: 9px;
			}
			&::before,
			&::after{
				content: "";
				background-color: $element;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
			}
			&::before{
				top: 0;
			}
			&::after{
				bottom: 0;
			}
		}

	}
	.nav{
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		&__item{
			border-radius: 0px;
		}
	}
	.headermobile{
		display: flex;
		z-index: 5;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 60px;
		padding: 0rem 0rem;
		font-size: 1.3rem;
		position: fixed;
		background-color: $mainDark;
		box-shadow: 0 1px 5px 0px $shadowColor;
		&__tel{
			z-index: 5;
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			color: $mainLight;
			padding-left: 2rem;
			& i{
				font-size: 2rem;
				color: $element;
				margin-right: 0.5rem;
			}
			& span{
				border: 1 solid $element;
			}
		}
		&__burger{
			z-index: 5;
			color: $element;
			font-size: 2rem;
			padding: 1rem 2rem;
			transition: all 0.3s ease-out;
			&.active{
				color: $mainLight;
				background-color: $element;
			}
		}
		&__nav{
			position: fixed;
			z-index: 1;
			top: 0%;
			left: 100%;
			display: block;
			height: 100%;
			width: 51%;
			background-color: $element;
			margin-top: 60px;
			transition: all 0.2s ease-out;
			&.active{
				left: 49%;
				z-index: 1;
				overflow: auto;
			}
		}
		&__list{
			display: flex;
			flex-flow: column nowrap;
			margin-top: 1.5rem;
			padding: 0 2rem;
		}
		&__link{
			padding: 1rem 0;
			width: 100%;
			font-size: 1.5rem;
			line-height: 1.5rem;
			text-align: center;
			color: $mainLight;
			text-transform: uppercase;
		}
	}
	
}
@media (max-width:480px){
	.caption{
		margin: 2rem auto;
	}
	.indexsection{
		flex-direction: column;
	}
	.mainIndex{
		margin-top: 60px;
		&__form{
			order: 2;
			margin-top: 2rem;
		}
		&__img{
			margin: 0 auto;
		}
	}
	.indexForm{
		padding: 0rem 0rem;
		&__text{
			text-align: center;
		}
	}
	.policy{
		text-align: center;
	}
	.headermobile{
		padding: 0 0px;
		&__tel{
			padding: 1rem 1.5rem;
		}
		&__nav{
			left: 100%;
			width: 100%;
			&.active{
			left: 0;
			width: 100%;
			}
		}	
	}	
}